[Desktop Entry]
Type=Application
Name=SkyAPO Configuration Editor
Comment=Edit Equalizer APO-compatible audio processing configuration
Exec=skyapo-ui
Icon=skyapo
Terminal=false
StartupNotify=true
Categories=AudioVideo;AudioVideoEditing;
